<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Πολυτελείς κατοικίες στο Μαρούσι από την τεχνική εταιρεία Παναγιώτης Μαχαίρας & ΣΙΑ Ε.Ε.">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
{#    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>#}
    <link href="{{ url_for('static', filename='styles/custom.css') }}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MGKGX9B269"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MGKGX9B269');
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.11.1/js/all.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css" rel="stylesheet">
    {% block head %}
    {% endblock head %}
  </head>

  <body>
    <section class="hero">

      <!-- NAVIGATION -------------------------------------------------------->
      {% block navbar %}
      {% endblock navbar %}


      <!-- PAGE CONTENT ------------------------------------------------------>
      <div class="hero-body">
        <div class="container is-max-desktop">
          {% block hero_body %}
          {% endblock hero_body %}
        </div>
      </div>

      <!-- FOOTER -------------------------------------------------------------->
      <div class="hero-footer mb-3">
          {% block footer %}
          {% endblock footer %}
      </div>

    </section>
  </body>
</html>
